@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
	scroll-behavior: smooth;
}


#Inicio{
	background: linear-gradient(rgb(2, 5, 19),rgb(4, 10, 37));/*modif*/
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

#Inicio .contenido header{
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

#Inicio .contenido header .contenido-header {
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

#Inicio .contenido header .contenido-header h1 {
	text-align: center;
	color: #33D7BC;
}

#Inicio .contenido header .contenido-header nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

#Inicio .contenido header .contenido-header nav ul li a {
	text-decoration: none;
	color: #fff;
	margin: 0 30px;
	font-weight: 400;
	transition: .5s;
}

#Inicio .contenido header .contenido-header nav ul a:hover {
	color: #33D7BC;

}

#Inicio .contenido .contenido-header .redes a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin-left: 10px;
	transition: .5s;
}

#Inicio .contenido header .contenido-header .redes a:hover {
	color: #33D7BC;
}
#Inicio .contenido header .contenido-header .seleccionado{
	color: #33D7BC;
}

#Inicio .contenido .presentacion {
	max-width: 1100px;
	height: 100vh;
	margin: auto;
	columns: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#Inicio .contenido .presentacion .bienvenida {
	font-size: 26px;/*modificado*/
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #FFFFFF;
}

#Inicio .contenido .presentacion h2 {
	font-size: 60px;
	margin-bottom: 25px;
	text-align: center;
	color: #FFFFFF;
}

#Inicio .contenido .presentacion h2 span {
	font-size: 60px;/*modificado*/
	color: #33D7BC;
}

#Inicio .contenido .presentacion .descripcion {
	max-width: 700px;
	margin: 30px auto;/*modificado*/
	font-size: 24px;/*modificado*/
	text-align: center;
	color: #FFFFFF;
}

#Inicio .contenido .presentacion a {
	text-decoration: none;
	display: inline-block;
	margin: 25px;
	padding: 20px 25px;
	border: 2px solid #FFFFFF;
	border-radius: 50px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	transition: .5s;
}

#Inicio .contenido .presentacion a:hover {
	background-color: #33D7BC;

}

#icono-nav {
	color: #fff;
	display: none;
}

.fondo-outer-container{
	/*position: ;*/
	height: 100%;
	width: 100%;
	z-index: 0;
	inset: 0;
	margin: auto;
	filter: blur(100px);
	
	
}

.fondo-inner-container{
	border-radius: 5000px;
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	min-widht: 1000px;
	overflow: hidden;
	background-color: #fff;
	transform: scale(0.6);
	
}
.fondo{
	position: absolute;
	widht: 100vw;
	height: 100vh;
	inset: 0;
	margin: auto;
	background-color: conic-gradient(from 0deg, #001F3D, #ED985F, #F7B980, #E6E6E6);
	animation: spinFondo 8s linear infinite;
}
@keyframes spinFondo {
	0% {
		transform: rotate(0deg) scale(2);
	}
	100% {
		transform: rotate(1turn) scale(2);
	}
}


/*SECCION SOBER MI--------------------*/


#sobremi {
	/*max-width: 1100px;modif*/
	margin: auto;
	padding: 100px 15px;
	background: linear-gradient(rgb(2, 5, 19),rgb(4, 10, 37));/*modif*/
	/*color: #0C181D;/*modificado*/
	/*background-color: #0C181D;*/
	display: flex;
}

#sobremi .contenedor-foto {
	max-width: 400px;
	margin-right: 80px;
}




.sobre {
 	position: relative;
 	left: -50px;
 	opacity: 0;
}
.efecto-sobre{
	left: 0px;
	opacity: 1;
	transition: 1s linear;
}





#sobremi .contenedor-foto img {
	padding: 20px;
	width: 100%;
	border-radius: 20px;
	background-color: #f3f3f3;

}

#sobremi .sobremi {
	margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	/*text-decoration: underline;*/
	/*text-decoration-color: #d3d3d3;*/
	
}

#sobremi .sobremi h2 {
	font-size: 34px;
	font-weight: bold;
	margin: 20px 0;
	letter-spacing: 2px;
}


#sobremi .sobremi h2 span {
	color: #33D7BC;
}

#sobremi .sobremi p {
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
	margin-bottom: 12px;
}

#sobremi .sobremi a {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 30px;
	padding: 10px 20px;
	border: 1px solid #FFFFFF;
	margin-top: 30px;
	transition: .5s;
}

#sobremi .sobremi a:hover {
	background-color: #33D7BC;
	color: #fff;
}

/*SERVICIOS-----------------------------------------------*/

#servicios {
	padding: 100px 15px;
	text-align: center;
	background: linear-gradient(rgb(2, 5, 19),rgb(4, 10, 37));/*modif*/
	/*background-color: #0C181D;/*modiff*/
}

#servicios .titulo-seccion {
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;/*modif*/
	/*text-decoration: underline;
	text-decoration-color: #d3d3d3;*/
	
}

#servicios .fila {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 30px auto;

}

#servicios .fila .servicio {
	max-width: 350px;
	background-color: #182F3A;
	padding: 30px 40px 30px 40px;/*modif*/
	margin: 0 -20px 0 -20px;
	border-style: solid;
	border-color: #42839E;
	border-width: 1px;
	border-radius: 15px;
	transition: .5s;
}

#servicios .fila .servicio:hover {
	box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
	
	
}

#servicios .fila .servicio h4 {
	font-size: 22px;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #FFFFFF;

}

#servicios .fila .servicio .icono {
	display: inline;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #d3d3d3;
	padding: 20px;
	margin-bottom: 25px;
}
	
#servicios .fila .servicio hr {
	width: 30%;
	margin: auto;
	color: #000;
	margin-bottom: 25px;
}

#servicios .fila .servicio ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;/*modificado*/
	padding: 5px 10px;/*modificado*/
	color: #FFFFFF;
}	

#servicios .fila .servicio p {
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
}

/* seccion habilidades --------------------------------------*/

.contenedor-skills {
	background: linear-gradient(rgb(2, 5, 19),rgb(4, 10, 37));/*modif*/
	/*background: linear-gradient(#0C181D, rgba(33, 16, 16, .8)), url(img/imagenn.jpg)*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	text-align: center;
}

.contenedor-skills #skills h3 {
	text-align: center;
	font-size: 26px;
	text-decoration-color: #FFFFFF;
	/*color: #FFFFFF;modif*/
	text-transform: uppercase;
	/*color: #111135;*/
	/*text-decoration: underline;*/
	/*text-decoration-color: #33D7BC;
	text-decoration-thickness: 5px;*/
}

.contenedor-skills .skill {
	max-width: 600px;
	margin: 30px auto;
}

.contenedor-skills .skill .info {
	display: flex;
	justify-content: space-between;
}
.contenedor-skills .skill .info p {
	color: #FFFFFF;
	
}
.contenedor-skills .skill .lista {
	display: inline-block;
	margin-right: 20px;
	height: 10px;
	width: 10px;
	background-color: #fff;
}

.contenedor-skills .skill .barra {
	background-color: #919191;
	width: 100%;
	height: 6px;
	margin: 10px 0;
}

.contenedor-skills .skill .barra .barra-progreso1 {
	background-color: #fff;
	width: 95%;
	height: 6px;
	animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
	background-color: #fff;
	width: 90%;
	height: 6px;
	animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
	background-color: #fff;
	width: 90%;
	height: 6px;
	animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
	background-color: #fff;
	width: 85%;
	height: 6px;
	animation: progreso4 2s forwards;
}


@keyframes progreso1{
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}

@keyframes progreso2 {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes progreso3 {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes progreso4 {
	0% {
		width: 0;
	}
	100% {
		width: 85%;
	}
}

/*SECCION PORTFOLIO---------------------------------------*/


#portfolio {
	max-width: 1600px;/*modif*/
	padding: 100px 0;
	margin: auto;
	background: linear-gradient(rgb(2, 5, 19),rgb(4, 10, 37));/*modif*/
	/*background-color: #0C181D*/
}

#portfolio .titulo-seccion {
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;	 /*modif*/
	text-transform: uppercase;
	/*color: #111135;*/
	/*text-decoration: underline;*/
	/*text-decoration-color: #33D7BC;
	text-decoration-thickness: 5px;*/
}

#portfolio .fila {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

#portfolio .fila .proyecto {
	max-width: 450px;
	margin: 0 15px;/*modif*/
	position: relative;
	overflow: hidden;
	border-style: solid;
	border-color: #42839E;
	border-width: 1px;
	border-radius: 15px;
}

#portfolio .fila .proyecto img {
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	object-fit: cover;
	transition: .5s;
}

#portfolio .fila .proyecto:hover img {
	filter: grayscale(0);
}



#portfolio .fila .proyecto .info {
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
	color: #33D7BC;
	width: 100%;
	padding: 100px 50px 100px 50px;/*modif*/
	/*opacity: 0;*/
	bottom: 0px;/*modif*/
	transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
	opacity: 1;
	box-shadow: 1px 5px 96px -16px rgba(0,255,250,0.72) inset;
	-webkit-box-shadow: 1px 5px 96px -16px rgba(0,255,250,0.72) inset;
	-moz-box-shadow: 1px 5px 96px -16px rgba(0,255,250,0.72) inset;
	/*bottom: 0;*/
}

#portfolio .fila .proyecto .info h4 {
	text-align: center;
	
}

/*SECCION CONTACTO*/

#contacto {
	padding: 100px 15px;
}
#contacto .titulo-seccion {
	background: linear-gradient(rgb(2, 5, 19),rgb(4, 10, 37));/*modif*/
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration: #d3d3d3;
	text-decoration-thickness: 5px;
}
/*
#contacto .contenedor-form .fila{
	max-width: 1100px;
	margin: auto;
}

#contacto .contenedor-form .fila {
	margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
	display: flex;
	justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
	padding: 20px;
	border-radius: 20px;
	border: none;
	border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
	width: 48%;
}
#contacto .contenedor-form .input-full {
	100%
}
#contacto .btn-enviar {
	display: block;
	margin: auto;
	cursor: pointer;
	transition: .5s;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;

}
#contacto .btn-enviar:hover {
	background-color: #33D7BC;
	color: #fff;
}
*/
footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}
footer a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 5px;
	font-size: 26px;
}

@media screen and (max-width: 800px) {
	.redes {
		display: none;
	}
	nav {
		display: none;
	}
	nav.responsive{
		display: block;
		background-color: rgba(0, 0, 0, .8);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}
	nav.responsive ul{
		display: block !important;
		text-align: center;
	}
	nav.responsive ul li{
		margin: 5px 0;
	}
	#icono-nav{
		display: block;
	}
	#Inicio .contenido .presentacion h2 {
		font-size: 40px;
	}
	#sobremi{
		padding: 50px 0;
		display: block;
	}
	#sobremi .contenedor-foto{
		max-width: 200px;
		margin: auto;
	}
	#sobremi .contenedor-foto img {
		padding: 8px;
	}
  #sobremi .sobremi .titulo-seccion {
  	text-align: center;
  }
  #sobremi .sobremi h2 {
  	font-size: 25px;
  	text-align: center;
  }
  #servicios{
  	padding: 50px 15px;
  }
  #servicios .fila {
  	display: block;
  }
  #servicios .fila .servicio {
  	margin: 10px auto;
  }
  .contenedor-skills{
  	padding: 50px 20px;
  }
  #portfolio{
  	padding: 50px 0;
  }
  #portfolio .fila {
  	display: block;
  }
  #portfolio .fila .proyecto {
  	margin: 10px auto;
  }
  #contacto {
  	padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad {
  	margin-bottom: 15px;
  	display: block;
  }
  #contacto .contenedor-form .mitad input {
  	width: 100%;
  	margin-bottom: 15px;
  }
}














